<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div th:replace="~{fragments/sidebarWithRole :: sidebarSelect}"/>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <div th:replace="~{fragments/topNavigation :: topNavigation}"/>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4">Register</h1>

            <form th:action = "@{/admin/puzzle/registerpro}" th:object = "${PuzzleRegisterForm}" method = "post" enctype="multipart/form-data">
                <label>Title</label><br>
                <input th:field="*{title}" type="text"><br><br>

                <label>puzzle code</label><br>
                <input th:field="*{puzzle_code}"rows="10" type="text"><br><br>

                <label>difficulty</label><br>
                <input th:field="*{difficulty}" rows="10" type="text"><br><br>

                <label>Content</label><br>
                <textarea th:field="*{content}" cols="50" rows="10"></textarea><br><br>

                <label>Solution</label><br>
                <input th:field="*{solution}" rows="10" type="text"><br><br>

                <input type = "file" th:field="*{image}"><br><br>

                <button type="submit">submit</button>
            </form>



        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
