<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Puzzle</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div th:replace="~{fragments/sidebar :: sidebar}"/>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <div th:replace="~{fragments/topNavigation :: topNavigation}"/>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4" th:text = "${puzzle.title}">Puzzle Title</h1>
            <img th:src="${puzzle.image_path}"/>
            <p th:text = "${puzzle.content}"></p>

            <form th:action = "@{/puzzles/submit/{id}(id = ${puzzle.id})}" th:object = "${PuzzleAnswerSubmitForm}" method = "post" >
                <input type = "text" th:field="*{answer}">
                <button type="submit">제출</button>

            </form>


        </div>
    </div>

</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
