<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebar">
    <div class="sidebar-heading border-bottom bg-light">Simple Puzzle</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/members/login">Login</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/members/register">Register</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/puzzles/list">Puzzles</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/members/mypage">Mypage</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">!Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">!Extra</a>
    </div>
</div>
