<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebar">
    <div class="sidebar-heading border-bottom bg-light">Main</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">!Login</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">!MyPage</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/puzzles/list">Puzzles</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">!Events</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">!Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">!Status</a>
    </div>
</div>